name: CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup GitHub Pages
      uses: actions/configure-pages@v3

    - name: Upload artifact to GitHub Pages
      uses: actions/upload-pages-artifact@v1
      with:
        path: ./  # On prend tout le projet

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v1
